= form_with model: @actor, local: true do |form|
  - if @actor.errors.any?
    #error_explanation
      %h2
        = pluralize(@actor.errors.count, "Error")
        prohibited this movie from being saved:
      %ul
        - @actor.errors.full_messages.each do |msg|
          %li= msg

  %table.table.table-dark
    %tr
      %td
        = form.label :name
      %td
        = form.text_field :name
    %tr
      %td
        = form.label :description
      %td
        = form.text_area :description
    %tr
      %td
        = form.label :date_of_birth
      %td
        = form.date_field :date_of_birth
    %tr
      %td
        = form.submit :class => "btn btn-success"
