.container
  %br/
  .jumbotron
    %h1= @actor.name
    %p
      %b> #movies
      \: #{@actor.movies.length}
    %p
      %b> Description
      \: #{@actor.description}
    %p= link_to 'Delete', actor_path(@actor), |
        method: :delete,                    |
        data: { confirm: 'Are you sure?' }, |
        class: 'btn btn-danger'             |
    %p= link_to 'Edit', edit_actor_path(@actor), class: 'btn btn-warning'
    %h4 Movies
    = form_for @actor do |form|
      %p
        %select{ :name => "movie_id" }
          - @movies.each do |movie|
            - unless(@actor.movies.include?(movie))
              %option{:value => movie.id}= movie.name
      %p
        =form.submit "Add Movie"

    %table.table
      - @actor.movies.each do |movie|
        %tr
          %td= link_to movie['name'], movie_path(movie)
