.container
  %br/
  .jumbotron
    .row
      .col
        %h1= @actor.name
        .btn-group
          %p= link_to 'Delete', actor_path(@actor), |
              method: :delete,                    |
              data: { confirm: 'Are you sure?' }, |
              class: 'btn btn-danger'             |
          %p= link_to 'Edit', edit_actor_path(@actor), class: 'btn btn-warning'
        .card
          .card-body
            %p
              %b> #movies
              \: #{@actor.movies.length}
            %p
              %b> Description
              \: #{@actor.description}
      .col
        %h4 Movies
        = form_for @actor do |form|
          %p
            %select{ :name => "movie_id" }
              - @movies.each do |movie|
                - unless(@actor.movies.include?(movie))
                  %option{:value => movie.id}= movie.name
            =form.submit "Add Movie", :class => "btn btn-success"

        %table.table
          - @actor.movies.each do |movie|
            %tr
              %td.card= link_to movie['name'], movie_path(movie)
