= form_with model: @movie, local: true do |form|
  - if @movie.errors.any?
    #error_explanation
      %h2
        = pluralize(@movie.errors.count, "error")
        prohibited
        this movie from being saved:
      %ul
        - @movie.errors.full_messages.each do |msg|
          %li= msg
  %table.table.table-dark
    %tr
      %td
        = form.label :name
      %td
        = form.text_field :name
    %tr
      %td
        = form.label :description
      %td
        = form.text_area :description
    %tr
      %td
        = form.label :release_date
      %td
        = form.date_field :release_date
    %tr
      %td
        = form.label :rating
      %td
        = form.number_field :rating
    %tr
      %td
        = form.submit
