%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title IMDB
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .btn-group
        - if current_page?(root_path)
          = link_to 'Home', root_path, class: 'btn btn-primary active'
        - else
          = link_to 'Home', root_path, class: 'btn btn-primary'

        - if current_page?(movies_path)
          = link_to 'Movies', movies_path, class: 'btn btn-primary active'
        - else
          = link_to 'Movies', movies_path, class: 'btn btn-primary'

        - if current_page?(actors_path)
          = link_to 'Actors', actors_path, class: 'btn btn-primary active'
        - else
          = link_to 'Actors', actors_path, class: 'btn btn-primary'
    = yield
